/* CABEÇALHO */

.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* RODAPÉ */

.rodape__container {
    display: flex;
    /* flex-direction: column;*/ /* Faz com que o elemento seja quebrado em colunas */
    /* flex-wrap: wrap;*/ /*Faz com que as colunas 'quebrem' mais */
    flex-flow: column wrap;
}

/* SEÇÃO SUPERIOR */

.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll; /* adiciona uma barra de rolagem*/
    gap: 15px;
}


@media (min-width: 834px) {

    /* CABEÇALHO */

    .cabecalho__pesquisar__item {
        display: block;
    }

    /* RODAPÉ */

    .rodape__container {
        justify-content: space-between;
    }
}
